.DrinkCard {
    background-image: url("../../paper.jpg");
    background-size: auto 100%;
    min-height: 100px;
    clear: both;
    color: #222222;
    text-align: center;
    font-family: 'Copse', serif;
}

h1{
    font-family: 'Copse', serif;
}

h2 {
    text-decoration: underline;
}

h3 {
    font-family: 'Copse', serif;
}